{"openapi":"3.0.1","info":{"title":"NetSuite REST Record API","description":"NetSuite REST Record API generated 2026-09-02 at 04:20:45 UTC for account 794882, user tom@mooball.net with role Agent MCP/API Access.","termsOfService":"http://www.netsuite.com/portal/resource/terms-of-service.shtml","contact":{"name":"Oracle NetSuite","url":"http://www.netsuite.com","email":"info@netsuite.com"},"version":"v1","x-framework":{"name":"oracle-netsuite-suitetalk-rest"}},"servers":[{"url":"https://794882.suitetalk.api.netsuite.com/services/rest/record/v1"}],"security":[{"OAuth_1.0_authorization":[]}],"paths":{"/inventoryItem":{"get":{"tags":["InventoryItem"],"summary":"Get list of records.","parameters":[{"name":"q","in":"query","description":"The search query that is used to filter results.","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"The limit used to specify the number of results on a single page.","required":false,"schema":{"type":"integer","format":"int32","default":1000}},{"name":"offset","in":"query","description":"The offset used for selecting a specific page of results.","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"expandRecords","in":"query","description":"Set this parameter with value 'true' to enable batch operations for GET requests.","required":false,"schema":{"type":"boolean"}},{"name":"ids","in":"query","description":"A comma separated list of internal or external IDs. Prefix external IDs with 'eid:'. Only used for batch operations.","required":false,"schema":{"type":"string"}},{"name":"Prefer","in":"header","description":"This header specifies the server behavior requested by the client in record service. Use 'respond-async' to execute the request asynchronously. Optionally, use 'batch-processing=\"parallel\"' to process the asynchronous request in parallel. By default, processing is sequential.","required":false,"schema":{"type":"string","enum":["respond-async","batch-processing=\"parallel\""]},"examples":{"prefer header respond-async value":{"value":"respond-async"},"prefer header parallel processing value":{"value":"respond-async, batch-processing=\"parallel\""}}},{"name":"X-NetSuite-Idempotency-Key","in":"header","description":"A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of records.","content":{"application/vnd.oracle.resource+json; type=collection":{"schema":{"$ref":"#/components/schemas/inventoryItemCollection"}}}},"default":{"description":"Error response.","content":{"application/vnd.oracle.resource+json; type=error":{"schema":{"$ref":"#/components/schemas/nsError"}}}},"202":{"description":"Async response.","headers":{"Preference-Applied":{"description":"If the request is executed asynchronously, 'Preference-Applied: respond-async' and, if requested, 'Preference-Applied: batch-processing=\"parallel\"' are returned in the response.","required":false,"schema":{"type":"string"}},"Location":{"description":"A URL to the newly created asynchronous job.","required":false,"schema":{"type":"string"}}}}}},"put":{"tags":["InventoryItem"],"summary":"Insert or update records.","parameters":[{"name":"X-NetSuite-PropertyValueValidation","in":"header","description":"Sets the strictness of property value validation.","required":false,"schema":{"type":"string","default":"Error","enum":["Error","Warning","Ignore"]}},{"name":"X-NetSuite-PropertyNameValidation","in":"header","description":"Sets the strictness of property name validation.","required":false,"schema":{"type":"string","default":"Warning","enum":["Error","Warning","Ignore"]}},{"name":"replace","in":"query","description":"The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.","required":false,"schema":{"type":"string"},"examples":{"single sublist":{"value":"sublist"},"sublist on subrecord":{"value":"subrecord.sublist"},"multiple sublists":{"value":"sublist1,subrecord.sublist2"}}},{"name":"replaceSelectedFields","in":"query","description":"If set to 'true', all fields that should be deleted in the update request, including body fields, must be included in the 'replace' query parameter.","required":false,"schema":{"type":"boolean","default":false}},{"name":"Prefer","in":"header","description":"This header specifies the server behavior requested by the client in record service. Use 'respond-async' to execute the request asynchronously. Optionally, use 'batch-processing=\"parallel\"' to process the asynchronous request in parallel. By default, processing is sequential.","required":true,"schema":{"type":"string","enum":["respond-async","batch-processing=\"parallel\""]},"examples":{"prefer header respond-async value":{"value":"respond-async"},"prefer header parallel processing value":{"value":"respond-async, batch-processing=\"parallel\""}}},{"name":"X-NetSuite-Idempotency-Key","in":"header","description":"A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.oracle.resource+json; type=collection":{"schema":{"$ref":"#/components/schemas/inventoryItemCollection"}}},"required":true},"responses":{"default":{"description":"Error response.","content":{"application/vnd.oracle.resource+json; type=error":{"schema":{"$ref":"#/components/schemas/nsError"}}}},"202":{"description":"Async response.","headers":{"Preference-Applied":{"description":"If the request is executed asynchronously, 'Preference-Applied: respond-async' and, if requested, 'Preference-Applied: batch-processing=\"parallel\"' are returned in the response.","required":false,"schema":{"type":"string"}},"Location":{"description":"A URL to the newly created asynchronous job.","required":false,"schema":{"type":"string"}}}}}},"post":{"tags":["InventoryItem"],"summary":"Insert record.","parameters":[{"name":"Prefer","in":"header","description":"This header specifies the server behavior requested by the client in record service. Use 'respond-async' to execute the request asynchronously. Optionally, use 'batch-processing=\"parallel\"' to process the asynchronous request in parallel. By default, processing is sequential.","required":false,"schema":{"type":"string","enum":["respond-async","batch-processing=\"parallel\""]},"examples":{"prefer header respond-async value":{"value":"respond-async"},"prefer header parallel processing value":{"value":"respond-async, batch-processing=\"parallel\""}}},{"name":"X-NetSuite-Idempotency-Key","in":"header","description":"A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.","required":false,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"The names of the fields and sublists on the record. Only the selected fields and sublists will be returned in the response.","required":false,"schema":{"type":"string"}},{"name":"q","in":"query","description":"The search query that is used to filter results.","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"The limit used to specify the number of results on a single page.","required":false,"schema":{"type":"integer","format":"int32","default":1000}},{"name":"offset","in":"query","description":"The offset used for selecting a specific page of results.","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"expandSubResources","in":"query","description":"For Create/Edit Form only: Set to 'true' to automatically expand all sublists, sublist lines, and subrecords on this record.","required":false,"schema":{"type":"boolean","default":false}},{"name":"expand","in":"query","description":"For Create/Edit Form only: Only the selected sublists, sublist lines, and subrecords will be expanded in the response.","required":false,"schema":{"type":"string"},"examples":{"single field":{"value":"field"},"multiple fields":{"value":"field1,field2"}}},{"name":"Accept","in":"header","description":"Required header for Create/Edit form operation and Select Options operation.","required":false,"schema":{"type":"string","enum":["application/vnd.oracle.resource+json; type=create-form","application/vnd.oracle.resource+json; type=select-options"]}},{"name":"replace","in":"query","description":"The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.","required":false,"schema":{"type":"string"},"examples":{"single sublist":{"value":"sublist"},"sublist on subrecord":{"value":"subrecord.sublist"},"multiple sublists":{"value":"sublist1,subrecord.sublist2"}}},{"name":"X-NetSuite-PropertyNameValidation","in":"header","description":"Sets the strictness of property name validation.","required":false,"schema":{"type":"string","default":"Warning","enum":["Error","Warning","Ignore"]}},{"name":"X-NetSuite-PropertyValueValidation","in":"header","description":"Sets the strictness of property value validation.","required":false,"schema":{"type":"string","default":"Error","enum":["Error","Warning","Ignore"]}}],"requestBody":{"description":"Request body.","content":{"application/vnd.oracle.resource+json; type=singular":{"schema":{"$ref":"#/components/schemas/inventoryItem"}},"application/vnd.oracle.resource+json; type=collection":{"schema":{"$ref":"#/components/schemas/inventoryItemCollection"}}},"required":true},"responses":{"202":{"description":"Async response.","headers":{"Preference-Applied":{"description":"If the request is executed asynchronously, 'Preference-Applied: respond-async' and, if requested, 'Preference-Applied: batch-processing=\"parallel\"' are returned in the response.","required":false,"schema":{"type":"string"}},"Location":{"description":"A URL to the newly created asynchronous job.","required":false,"schema":{"type":"string"}}}},"200":{"description":"Retrieved Create-Form/Select Options.","content":{"application/vnd.oracle.resource+json; type=create-form":{"schema":{"$ref":"#/components/schemas/inventoryItem"}},"application/vnd.oracle.resource+json; type=select-options":{"schema":{"$ref":"#/components/schemas/inventoryItemSelectOptions"}}}},"204":{"description":"Inserted record.","headers":{"X-NetSuite-PropertyValidation":{"description":"The description of a property validation failure.","required":false,"schema":{"type":"string"}},"X-NetSuite-Warning":{"description":"Warning messages that occurred during processing.","required":false,"schema":{"type":"string"}},"Location":{"description":"A URL to the newly created record.","required":false,"schema":{"type":"string"}}}},"default":{"description":"Error response.","content":{"application/vnd.oracle.resource+json; type=error":{"schema":{"$ref":"#/components/schemas/nsError"}}}}}},"patch":{"tags":["InventoryItem"],"summary":"Update records.","parameters":[{"name":"X-NetSuite-PropertyValueValidation","in":"header","description":"Sets the strictness of property value validation.","required":false,"schema":{"type":"string","default":"Error","enum":["Error","Warning","Ignore"]}},{"name":"X-NetSuite-PropertyNameValidation","in":"header","description":"Sets the strictness of property name validation.","required":false,"schema":{"type":"string","default":"Warning","enum":["Error","Warning","Ignore"]}},{"name":"replace","in":"query","description":"The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.","required":false,"schema":{"type":"string"},"examples":{"single sublist":{"value":"sublist"},"sublist on subrecord":{"value":"subrecord.sublist"},"multiple sublists":{"value":"sublist1,subrecord.sublist2"}}},{"name":"replaceSelectedFields","in":"query","description":"If set to 'true', all fields that should be deleted in the update request, including body fields, must be included in the 'replace' query parameter.","required":false,"schema":{"type":"boolean","default":false}},{"name":"Prefer","in":"header","description":"This header specifies the server behavior requested by the client in record service. Use 'respond-async' to execute the request asynchronously. Optionally, use 'batch-processing=\"parallel\"' to process the asynchronous request in parallel. By default, processing is sequential.","required":true,"schema":{"type":"string","enum":["respond-async","batch-processing=\"parallel\""]},"examples":{"prefer header respond-async value":{"value":"respond-async"},"prefer header parallel processing value":{"value":"respond-async, batch-processing=\"parallel\""}}},{"name":"X-NetSuite-Idempotency-Key","in":"header","description":"A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.oracle.resource+json; type=collection":{"schema":{"$ref":"#/components/schemas/inventoryItemCollection"}}},"required":true},"responses":{"default":{"description":"Error response.","content":{"application/vnd.oracle.resource+json; type=error":{"schema":{"$ref":"#/components/schemas/nsError"}}}},"202":{"description":"Async response.","headers":{"Preference-Applied":{"description":"If the request is executed asynchronously, 'Preference-Applied: respond-async' and, if requested, 'Preference-Applied: batch-processing=\"parallel\"' are returned in the response.","required":false,"schema":{"type":"string"}},"Location":{"description":"A URL to the newly created asynchronous job.","required":false,"schema":{"type":"string"}}}}}}},"/inventoryItem/{id}":{"get":{"tags":["InventoryItem"],"summary":"Get record.","parameters":[{"name":"id","in":"path","description":"Internal identifier.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"expandSubResources","in":"query","description":"Set to 'true' to automatically expand all sublists, sublist lines, and subrecords on this record.","required":false,"schema":{"type":"boolean","default":false}},{"name":"simpleEnumFormat","in":"query","description":"Set to true to return enumeration values in a format that only shows the internal ID value.","required":false,"schema":{"type":"boolean","default":false}},{"name":"fields","in":"query","description":"The names of the fields and sublists on the record. Only the selected fields and sublists will be returned in the response.","required":false,"schema":{"type":"string"},"examples":{"single field":{"value":"field"},"multiple fields":{"value":"field1,field2"}}},{"name":"Prefer","in":"header","description":"This header specifies the server behavior requested by the client in record service. Use 'respond-async' to execute the request asynchronously. Optionally, use 'batch-processing=\"parallel\"' to process the asynchronous request in parallel. By default, processing is sequential.","required":false,"schema":{"type":"string","enum":["respond-async","batch-processing=\"parallel\""]},"examples":{"prefer header respond-async value":{"value":"respond-async"},"prefer header parallel processing value":{"value":"respond-async, batch-processing=\"parallel\""}}},{"name":"X-NetSuite-Idempotency-Key","in":"header","description":"A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Retrieved record.","headers":{"X-NetSuite-Warning":{"description":"Warning messages that occurred during processing.","required":false,"schema":{"type":"string"}}},"content":{"application/vnd.oracle.resource+json; type=singular":{"schema":{"$ref":"#/components/schemas/inventoryItem"}}}},"default":{"description":"Error response.","content":{"application/vnd.oracle.resource+json; type=error":{"schema":{"$ref":"#/components/schemas/nsError"}}}},"202":{"description":"Async response.","headers":{"Preference-Applied":{"description":"If the request is executed asynchronously, 'Preference-Applied: respond-async' and, if requested, 'Preference-Applied: batch-processing=\"parallel\"' are returned in the response.","required":false,"schema":{"type":"string"}},"Location":{"description":"A URL to the newly created asynchronous job.","required":false,"schema":{"type":"string"}}}}}},"put":{"tags":["InventoryItem"],"summary":"Insert or update record.","parameters":[{"name":"id","in":"path","description":"External identifier.","required":true,"schema":{"pattern":"eid:(.+)","type":"string"}},{"name":"Prefer","in":"header","description":"This header specifies the server behavior requested by the client in record service. Use 'respond-async' to execute the request asynchronously. Optionally, use 'batch-processing=\"parallel\"' to process the asynchronous request in parallel. By default, processing is sequential.","required":false,"schema":{"type":"string","enum":["respond-async","batch-processing=\"parallel\""]},"examples":{"prefer header respond-async value":{"value":"respond-async"},"prefer header parallel processing value":{"value":"respond-async, batch-processing=\"parallel\""}}},{"name":"X-NetSuite-Idempotency-Key","in":"header","description":"A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.","required":false,"schema":{"type":"string"}},{"name":"X-NetSuite-PropertyNameValidation","in":"header","description":"Sets the strictness of property name validation.","required":false,"schema":{"type":"string","default":"Warning","enum":["Error","Warning","Ignore"]}},{"name":"X-NetSuite-PropertyValueValidation","in":"header","description":"Sets the strictness of property value validation.","required":false,"schema":{"type":"string","default":"Error","enum":["Error","Warning","Ignore"]}},{"name":"replace","in":"query","description":"The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.","required":false,"schema":{"type":"string"},"examples":{"single sublist":{"value":"sublist"},"sublist on subrecord":{"value":"subrecord.sublist"},"multiple sublists":{"value":"sublist1,subrecord.sublist2"}}},{"name":"replaceSelectedFields","in":"query","description":"If set to 'true', all fields that should be deleted in the update request, including body fields, must be included in the 'replace' query parameter.","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"description":"Request body.","content":{"application/vnd.oracle.resource+json; type=singular":{"schema":{"$ref":"#/components/schemas/inventoryItem"}}},"required":true},"responses":{"204":{"description":"Upserted record.","headers":{"X-NetSuite-PropertyValidation":{"description":"The description of a property validation failure.","required":false,"schema":{"type":"string"}},"X-NetSuite-Warning":{"description":"Warning messages that occurred during processing.","required":false,"schema":{"type":"string"}},"Location":{"description":"A URL to the newly created or updated record.","required":false,"schema":{"type":"string"}}}},"default":{"description":"Error response.","content":{"application/vnd.oracle.resource+json; type=error":{"schema":{"$ref":"#/components/schemas/nsError"}}}},"202":{"description":"Async response.","headers":{"Preference-Applied":{"description":"If the request is executed asynchronously, 'Preference-Applied: respond-async' and, if requested, 'Preference-Applied: batch-processing=\"parallel\"' are returned in the response.","required":false,"schema":{"type":"string"}},"Location":{"description":"A URL to the newly created asynchronous job.","required":false,"schema":{"type":"string"}}}}}},"patch":{"tags":["InventoryItem"],"summary":"Update record.","parameters":[{"name":"Prefer","in":"header","description":"This header specifies the server behavior requested by the client in record service. Use 'respond-async' to execute the request asynchronously. Optionally, use 'batch-processing=\"parallel\"' to process the asynchronous request in parallel. By default, processing is sequential.","required":false,"schema":{"type":"string","enum":["respond-async","batch-processing=\"parallel\""]},"examples":{"prefer header respond-async value":{"value":"respond-async"},"prefer header parallel processing value":{"value":"respond-async, batch-processing=\"parallel\""}}},{"name":"X-NetSuite-Idempotency-Key","in":"header","description":"A user-defined unique idempotency key that is applied to every asynchronous requests to ensure that the request is executed only once. Only one request can be executed with every unique idempotency key. Use UUID in string format as defined by RFC 4122. If the request is executed synchronously, this value is ignored.","required":false,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"The names of the fields and sublists on the record. Only the selected fields and sublists will be returned in the response.","required":false,"schema":{"type":"string"}},{"name":"q","in":"query","description":"The search query that is used to filter results.","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"The limit used to specify the number of results on a single page.","required":false,"schema":{"type":"integer","format":"int32","default":1000}},{"name":"offset","in":"query","description":"The offset used for selecting a specific page of results.","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"expandSubResources","in":"query","description":"For Create/Edit Form only: Set to 'true' to automatically expand all sublists, sublist lines, and subrecords on this record.","required":false,"schema":{"type":"boolean","default":false}},{"name":"expand","in":"query","description":"For Create/Edit Form only: Only the selected sublists, sublist lines, and subrecords will be expanded in the response.","required":false,"schema":{"type":"string"},"examples":{"single field":{"value":"field"},"multiple fields":{"value":"field1,field2"}}},{"name":"Accept","in":"header","description":"Required header for Create/Edit form operation and Select Options operation.","required":false,"schema":{"type":"string","enum":["application/vnd.oracle.resource+json; type=edit-form","application/vnd.oracle.resource+json; type=select-options"]}},{"name":"id","in":"path","description":"Internal identifier.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"X-NetSuite-PropertyNameValidation","in":"header","description":"Sets the strictness of property name validation.","required":false,"schema":{"type":"string","default":"Warning","enum":["Error","Warning","Ignore"]}},{"name":"X-NetSuite-PropertyValueValidation","in":"header","description":"Sets the strictness of property value validation.","required":false,"schema":{"type":"string","default":"Error","enum":["Error","Warning","Ignore"]}},{"name":"replace","in":"query","description":"The names of sublists on this record. All sublist lines will be replaced with lines specified in the request. The names are delimited by comma.","required":false,"schema":{"type":"string"},"examples":{"single sublist":{"value":"sublist"},"sublist on subrecord":{"value":"subrecord.sublist"},"multiple sublists":{"value":"sublist1,subrecord.sublist2"}}},{"name":"replaceSelectedFields","in":"query","description":"If set to 'true', all fields that should be deleted in the update request, including body fields, must be included in the 'replace' query parameter.","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"description":"Request body.","content":{"application/vnd.oracle.resource+json; type=singular":{"schema":{"$ref":"#/components/schemas/inventoryItem"}}},"required":true},"responses":{"202":{"description":"Async response.","headers":{"Preference-Applied":{"description":"If the request is executed asynchronously, 'Preference-Applied: respond-async' and, if requested, 'Preference-Applied: batch-processing=\"parallel\"' are returned in the response.","required":false,"schema":{"type":"string"}},"Location":{"description":"A URL to the newly created asynchronous job.","required":false,"schema":{"type":"string"}}}},"200":{"description":"Retrieved Edit-Form/Select Options.","content":{"application/vnd.oracle.resource+json; type=edit-form":{"schema":{"$ref":"#/components/schemas/inventoryItem"}},"application/vnd.oracle.resource+json; type=select-options":{"schema":{"$ref":"#/components/schemas/inventoryItemSelectOptions"}}}},"204":{"description":"Updated record.","headers":{"X-NetSuite-PropertyValidation":{"description":"The description of a property validation failure.","required":false,"schema":{"type":"string"}},"X-NetSuite-Warning":{"description":"Warning messages that occurred during processing.","required":false,"schema":{"type":"string"}}}},"default":{"description":"Error response.","content":{"application/vnd.oracle.resource+json; type=error":{"schema":{"$ref":"#/components/schemas/nsError"}}}}}}}},"components":{"schemas":{"inventoryItem-price":{"type":"object","properties":{"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"totalResults":{"title":"Total Results","type":"integer","format":"int64","readOnly":true},"count":{"title":"Count","type":"integer","format":"int64","readOnly":true},"hasMore":{"title":"Has More Results","type":"boolean","readOnly":true},"offset":{"title":"Query Offset","type":"integer","format":"int64","readOnly":true},"items":{"type":"array","items":{"$ref":"#/components/schemas/inventoryItem-priceElement"}}}},"nsResourceCollection":{"type":"object","properties":{"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"totalResults":{"title":"Total Results","type":"integer","format":"int64","readOnly":true},"items":{"type":"array","items":{"$ref":"#/components/schemas/nsResource"}},"count":{"title":"Count","type":"integer","format":"int64","readOnly":true},"hasMore":{"title":"Has More Results","type":"boolean","readOnly":true},"offset":{"title":"Query Offset","type":"integer","format":"int64","readOnly":true}}},"nsResource":{"type":"object","properties":{"id":{"title":"Internal identifier","type":"string"},"refName":{"title":"Reference Name","type":"string"},"externalId":{"title":"External identifier","type":"string"},"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}}}},"inventoryItem-correlatedItemsElement":{"type":"object","properties":{"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"liftFld":{"title":"Lift %","type":"number","format":"double","nullable":true},"purchaseRateFld":{"title":"Overall Purchase Rate","type":"number","format":"double","nullable":true},"itemNKeyFld":{"title":"Item","type":"string","nullable":true},"countFld":{"title":"Count","type":"integer","format":"int64","nullable":true},"correlationFld":{"title":"Correlation %","type":"number","format":"double","nullable":true},"refName":{"title":"Reference Name","type":"string"}},"x-ns-sublistkey":{"present":false},"x-ns-filterable":[]},"inventoryItemCollection":{"type":"object","properties":{"totalResults":{"title":"Total Results","type":"integer","format":"int64","readOnly":true},"items":{"title":"Items","type":"array","description":"An array field that represents a collection of elements, for example, sublist lines, multiselect items, or search results.","items":{"$ref":"#/components/schemas/inventoryItem"}},"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"count":{"title":"Count","type":"integer","format":"int64","readOnly":true},"hasMore":{"title":"Has More Results","type":"boolean","readOnly":true},"offset":{"title":"Query Offset","type":"integer","format":"int64","readOnly":true}}},"nsError":{"type":"object","properties":{"type":{"title":"Type","type":"string","description":"A URI reference to the documentation about the problem type.","format":"URI","readOnly":true},"title":{"title":"Title","type":"string","description":"A human-readable description of the problem type.","readOnly":true},"status":{"title":"Status","type":"integer","description":"The HTTP status code generated by the server the request originates from.","format":"int32","readOnly":true},"o:errorDetails":{"type":"array","description":"An array containing one or more problem types.","readOnly":true,"items":{"type":"object","properties":{"detail":{"title":"Detail","type":"string","description":"A detailed, human-readable description of the problem occurrence.","readOnly":true},"o:errorPath":{"title":"Error Path","type":"string","description":"The JSON path that indicates where the problem occurs within the request body.","format":"JSONPath","readOnly":true},"o:errorUrl":{"title":"Error URL","type":"string","description":"The URI of the first element in the request URL where the problem occurs.","format":"URI","readOnly":true},"o:errorHeader":{"title":"Error Header","type":"string","description":"The name of the HTTP header where the problem occurs.","readOnly":true},"o:errorQueryParam":{"title":"Error Query Parameter","type":"string","description":"The name of the query parameter where the problem occurs.","readOnly":true},"o:errorCode":{"title":"Error Code","type":"string","description":"The application-specific error code. Similar problem types are grouped together.","readOnly":true}}}}}},"nsLink":{"type":"object","properties":{"rel":{"title":"Relationship","type":"string","readOnly":true},"href":{"title":"Hypertext Reference","type":"string","readOnly":true}}},"inventoryItem-presentationItemCollection":{"type":"object","properties":{"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"totalResults":{"title":"Total Results","type":"integer","format":"int64","readOnly":true},"count":{"title":"Count","type":"integer","format":"int64","readOnly":true},"hasMore":{"title":"Has More Results","type":"boolean","readOnly":true},"offset":{"title":"Query Offset","type":"integer","format":"int64","readOnly":true},"items":{"type":"array","items":{"$ref":"#/components/schemas/inventoryItem-presentationItemElement"}}}},"inventoryItem-siteCategoryElement":{"type":"object","properties":{"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"refName":{"title":"Reference Name","type":"string"},"webSite":{"$ref":"#/components/schemas/nsResource"},"category":{"$ref":"#/components/schemas/nsResource"}},"x-ns-sublistkey":{"present":false},"x-ns-filterable":[]},"inventoryItem-itemVendorElement":{"type":"object","properties":{"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"preferredVendor":{"title":"Preferred","type":"boolean"},"vendorCurrencyName":{"title":"Currency","type":"string","nullable":true},"vendorCode":{"title":"Code","type":"string","nullable":true},"purchasePrice":{"title":"Purchase Price","type":"number","format":"double","nullable":true},"refName":{"title":"Reference Name","type":"string"},"vendorCurrencyId":{"$ref":"#/components/schemas/nsResource"},"schedule":{"$ref":"#/components/schemas/nsResource"},"vendor":{"$ref":"#/components/schemas/nsResource"},"itemVendorPrice":{"$ref":"#/components/schemas/inventoryItem-itemVendor-itemVendorPrice"}},"x-ns-sublistkey":{"present":true,"value":{"new":["vendor","subsidiary"],"existing":["vendor","subsidiary"]}},"x-ns-filterable":[]},"inventoryItem-itemVendor-itemVendorPrice-itemvendorpricelinesCollection":{"type":"object","properties":{"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"totalResults":{"title":"Total Results","type":"integer","format":"int64","readOnly":true},"count":{"title":"Count","type":"integer","format":"int64","readOnly":true},"hasMore":{"title":"Has More Results","type":"boolean","readOnly":true},"offset":{"title":"Query Offset","type":"integer","format":"int64","readOnly":true},"items":{"type":"array","items":{"$ref":"#/components/schemas/inventoryItem-itemVendor-itemVendorPrice-itemvendorpricelinesElement"}}}},"inventoryItem-locationsElement":{"type":"object","properties":{"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"quantityOnHand":{"title":"Quantity On Hand","type":"number","format":"float","nullable":true},"onHandValueMli":{"title":"Value","type":"number","format":"double","nullable":true},"quantityInTransit":{"title":"Quantity In Transit","type":"number","format":"float","nullable":true},"savedReorderPoint":{"title":"Reorder Point","type":"number","format":"float","nullable":true},"reorderPoint":{"title":"Reorder Point","type":"number","format":"float","nullable":true},"averageCostMli":{"title":"Average Cost","type":"number","format":"double","nullable":true},"preferredStockLevel":{"title":"Preferred Stock Level","type":"number","format":"float","nullable":true},"location_display":{"title":"Location","type":"string","nullable":true},"lastPurchasePriceMli":{"title":"Last Purchase Price","type":"number","format":"double","nullable":true},"defaultReturnCost":{"title":"Default Return Cost","type":"number","format":"double","nullable":true},"quantityAvailable":{"title":"Quantity Available","type":"number","format":"float","nullable":true},"quantityCommitted":{"title":"Quantity Committed","type":"number","format":"float","nullable":true},"initialaveragecostmli":{"title":"Initial Average Cost","type":"number","format":"double","nullable":true},"locationId":{"title":"Location","type":"integer","format":"int64","nullable":true},"quantityOnOrder":{"title":"Quantity On Order","type":"number","format":"float","nullable":true},"quantityBackOrdered":{"title":"Quantity Back Ordered","type":"number","format":"float","nullable":true},"costAccountingStatus":{"title":"Cost Accounting Status","type":"string","nullable":true},"refName":{"title":"Reference Name","type":"string"},"location":{"$ref":"#/components/schemas/nsResource"}},"x-ns-sublistkey":{"present":true,"value":{"new":["locationId"],"existing":["locationId"]}},"x-ns-filterable":[]},"inventoryItem-itemVendor-itemVendorPrice-itemvendorpricelinesElement":{"type":"object","properties":{"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"id":{"title":"ID","type":"integer","format":"int64","nullable":true},"vendorprice":{"title":"Purchase Price","type":"number","format":"double","nullable":true},"vendorCost":{"title":"Vendor Cost","type":"number","format":"double","nullable":true},"refName":{"title":"Reference Name","type":"string"},"vendorcurrency":{"$ref":"#/components/schemas/nsResource"}},"x-ns-sublistkey":{"present":false},"x-ns-filterable":[]},"nsResourceSelectOptions":{"type":"object","properties":{"_selectOptions":{"type":"object","properties":{"links":{"title":"Links","type":"array","items":{"$ref":"#/components/schemas/nsLink"}},"totalResults":{"title":"Total Results","type":"integer","format":"int64"},"count":{"title":"Count","type":"integer","format":"int64"},"hasMore":{"title":"Has More Results","type":"boolean"},"offset":{"title":"Query Offset","type":"integer","format":"int64"},"items":{"title":"Items","type":"array","items":{"$ref":"#/components/schemas/nsResource"}}}}},"readOnly":true},"inventoryItem-locationsCollection":{"type":"object","properties":{"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"totalResults":{"title":"Total Results","type":"integer","format":"int64","readOnly":true},"count":{"title":"Count","type":"integer","format":"int64","readOnly":true},"hasMore":{"title":"Has More Results","type":"boolean","readOnly":true},"offset":{"title":"Query Offset","type":"integer","format":"int64","readOnly":true},"items":{"type":"array","items":{"$ref":"#/components/schemas/inventoryItem-locationsElement"}}}},"inventoryItemSelectOptions":{"type":"object","properties":{"parent":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_zc_3wm_tlrnce_type_amt":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_width":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"assetAccount":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"atpMethod":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_class":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"pricingGroup":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitemrsc_freight_dg_uom":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_persons":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_rated_lifting_capacity":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"quantityPricingSchedule":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_zc_3wm_tlrnce_type_qty":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_input_drive_female":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_spiral_clamp_lh":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_rope_diameter":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_risk":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_brand":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"incomeAccount":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_thickness":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixType":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"subsidiary":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"shipPackage":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_volume":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_capacity":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_chainsize":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitemindustrial_brand":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_sleeve_colour":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_diameter":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_spiral_clamp_rh":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"weightUnit":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_lens_colour":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_thread_size":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"fraudRisk":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"overallQuantityPricingType":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"deferralAccount":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_lens_colour":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custReturnVarianceAccount":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"costCategory":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"storeItemTemplate":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_gate_valve_handle_size":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_rated_lifting_capacity":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_webbing_colour":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"currency":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_length":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_gate_valve_handle_size":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_size_matrix":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_diameter":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"supplyReplenishmentMethod":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"costingMethod":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_rope_diameter":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"customForm":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_input_drive_female":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_capacity":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"purchaseTaxCode":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitemproduct_group":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_size_matrix":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"vendReturnVarianceAccount":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_zc_prevailing_rate":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_rated_capacity":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_tyre_size":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"expenseAmortizationRule":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_sleeve_colour":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitemrsc_freight_rateclass":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_chainsize":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_persons":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitemrsc_freight_defaultpackagetype":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_made_in_country":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitemrsc_freight_restrictedpkgtypes":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_webbing_colour":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitemrsc_freight_dg_class":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"createExpensePlansOn":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"gainLossAccount":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_thickness":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"insertItemAttribute":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"countryOfManufacture":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"purchasePriceVarianceAcct":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_zc_prevailing_quantity":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem6":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem3":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"cogsAccount":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem5":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitemproduct_subgroup":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_zc_3wm_tlrnce_type_rate":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_type":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem4":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_risk":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"siteMapPriority":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"itemOptions":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitemrsc_freight_tariffcode":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_thread_size":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_width":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"itemType":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_rated_capacity":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_spiral_clamp_rh":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_volume":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"amortizationTemplate":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem3":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_colour_size":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitemmachine_model":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_length":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitemmachinery_brand":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem6":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"department":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"class":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_class":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem4":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem5":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitemrsc_freight_dg_outer":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"storeDisplayImage":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"storeDisplayThumbnail":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_colour_size":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"dropShipExpenseAccount":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"salesTaxCode":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"preferredLocation":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"matrixoptioncustitem_spiral_clamp_lh":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitem_zc_prevailing_amount":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"location":{"$ref":"#/components/schemas/nsResourceSelectOptions"},"custitempotential_customers":{"$ref":"#/components/schemas/nsResourceSelectOptions"}}},"inventoryItem-itemVendor-itemVendorPrice":{"type":"object","properties":{"externalId":{"title":"External ID","type":"string","nullable":true},"refName":{"title":"Reference Name","type":"string"},"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"itemvendorpricelines":{"$ref":"#/components/schemas/inventoryItem-itemVendor-itemVendorPrice-itemvendorpricelinesCollection"}},"x-ns-filterable":[]},"inventoryItem-siteCategoryCollection":{"type":"object","properties":{"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"totalResults":{"title":"Total Results","type":"integer","format":"int64","readOnly":true},"count":{"title":"Count","type":"integer","format":"int64","readOnly":true},"hasMore":{"title":"Has More Results","type":"boolean","readOnly":true},"offset":{"title":"Query Offset","type":"integer","format":"int64","readOnly":true},"items":{"type":"array","items":{"$ref":"#/components/schemas/inventoryItem-siteCategoryElement"}}}},"inventoryItem-itemVendorCollection":{"type":"object","properties":{"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"totalResults":{"title":"Total Results","type":"integer","format":"int64","readOnly":true},"count":{"title":"Count","type":"integer","format":"int64","readOnly":true},"hasMore":{"title":"Has More Results","type":"boolean","readOnly":true},"offset":{"title":"Query Offset","type":"integer","format":"int64","readOnly":true},"items":{"type":"array","items":{"$ref":"#/components/schemas/inventoryItem-itemVendorElement"}}}},"inventoryItem-priceElement":{"type":"object","properties":{"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"isInactive":{"title":"Inactive","type":"boolean","description":"When you check this box, this item will no longer appear on a list unless you check the Show All box at the bottom of the list page."},"quantity":{"type":"array","properties":{"value":{"title":"Value","type":"string"}}},"priceQty":{"title":"Sequence Number","type":"integer","format":"int64","nullable":true},"price":{"title":"Amount","type":"number","format":"double","nullable":true},"discountDisplay":{"title":"Default Discount %","type":"number","format":"double","nullable":true},"priceLevelName":{"title":"Price Level","type":"string","nullable":true},"refName":{"title":"Reference Name","type":"string"},"priceLevel":{"$ref":"#/components/schemas/nsResource"},"currencyPage":{"$ref":"#/components/schemas/nsResource"}},"x-ns-sublistkey":{"present":false},"x-ns-filterable":[]},"inventoryItem-presentationItemElement":{"type":"object","properties":{"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"presitemurl":{"title":"Item URL","type":"string","nullable":true},"item":{"title":"Item","type":"integer","format":"int64","nullable":true},"basePrice":{"title":"Base Price","type":"number","format":"double","nullable":true},"itemType":{"type":"object","properties":{"id":{"title":"Internal identifier","type":"string","enum":["FILECABITEM","PRESCATEGORY","INVTITEM","INFOITEM"]},"refName":{"title":"Reference Name","type":"string"}}},"presItemId":{"title":"Internal ID","type":"integer","format":"int64","nullable":true},"description":{"title":"Item Description","type":"string","nullable":true},"onlinePrice":{"title":"Online Price","type":"number","format":"double","nullable":true},"refName":{"title":"Reference Name","type":"string"}},"x-ns-sublistkey":{"present":true,"value":{"new":["item"],"existing":["item"]}},"x-ns-filterable":[]},"inventoryItem-correlatedItemsCollection":{"type":"object","properties":{"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"totalResults":{"title":"Total Results","type":"integer","format":"int64","readOnly":true},"count":{"title":"Count","type":"integer","format":"int64","readOnly":true},"hasMore":{"title":"Has More Results","type":"boolean","readOnly":true},"offset":{"title":"Query Offset","type":"integer","format":"int64","readOnly":true},"items":{"type":"array","items":{"$ref":"#/components/schemas/inventoryItem-correlatedItemsElement"}}}},"inventoryItem":{"type":"object","properties":{"autoLeadTime":{"title":"Auto-Calculate Lead Time","type":"boolean","description":"Lead time is the average number of days between ordering this item from the vendor and receiving it. * Check the Auto-Calculate box if you want NetSuite to calculate the lead time based on the most recent order history of this item. This is calculated by taking the number of days between the order entry and receipt on the three most recent purchase orders, and dividing by three. o If there are multiple receipts for the item against the same purchase order, only the first receipt is used for the calculation. o Lead time calculation is not weighted by number of units received. o More recent purchase orders without receipts are ignored. * Clear the Auto-Calculate box to manually enter a lead time value in days. If the Auto-Calculate box is cleared and no value is entered, then the default value from the Set Up Inventory Management page is used."},"storeDisplayName":{"title":"Store Display Name","type":"string","description":"Enter the name of this item as you want it displayed in your Web site. You can enter up to 250 characters.","nullable":true},"nexTagCategory":{"title":"NexTag Category","type":"string","description":"Enter the name of the NexTag category this item should be included in. This category is included in the product feeds you can export at Setup &gt; Web Site &gt; Product Feeds.","nullable":true},"custitemrsc_freight_dg_unitsperouter":{"title":"Ready Freight DG Units per Outer","type":"integer","format":"int64","nullable":true,"x-ns-custom-field":true},"lastPurchasePrice":{"title":"Last Purchase Price","type":"number","description":"This field displays the most recent purchase price of the item. This price is determined by the most recent transaction for the item that added positive inventory, such as a purchase receipt, inventory transfer or inventory adjustment. (This does not include item returns or assembly unbuilds.) If two transactions are entered on the same day, the one entered later takes precedence and is used to calculate the last purchase price. When you use the Multiple-Location Inventory feature, the following is true: * The last purchase price reflects the most recent transaction at any location. * The Inventory subtab of inventory item records includes a link to the last positive-inventory transaction per location. * If multiple purchases are made on the same day with different prices and locations, then the highest price paid on that day becomes the last purchase price. If you use Multiple Units of Measure, the last purchase price is calculated using purchase units.","format":"double","nullable":true},"parentOnly":{"title":"Use as Category Only","type":"boolean"},"custitemrsc_freight_fda_code":{"title":"Ready Freight FDA Product Code","type":"string","nullable":true,"x-ns-custom-field":true},"originalItemType":{"title":"Original Item Type","type":"string","nullable":true},"handlingCost":{"title":"Handling Cost","type":"number","description":"As an option, you may enter a handling cost for this item in dollars. You must also create a shipping item for per-item shipping and handling costs at Lists &gt; Shipping Items &gt; New. When this item is selected on sales orders, invoices or cash sales, the appropriate shipping and handling charges are automatically calculated.","format":"double","nullable":true},"isLotItem":{"title":"Lot Numbered","type":"boolean"},"custitem_s_mark":{"title":"S Mark","type":"boolean","x-ns-custom-field":true},"receiptQuantityDiff":{"title":"Vendor Bill - Item Receipt Quantity Difference","type":"number","description":"Enter the difference limit for the discrepancy between the quantity on the vendor bill and item receipt.","format":"float","nullable":true},"shopzillaProductFeed":{"title":"Shopzilla Product Feed","type":"boolean","description":"Check this box to include this item when exporting item lists to Shopzilla. Clear this box to remove this item when exporting item lists to Shopzilla."},"storeItemTemplate":{"type":"object","properties":{"id":{"title":"Internal identifier","type":"string","enum":["-134","-178","-133","-177","-136","-135","-179","-174","-130","-173","-132","-176","-175","-131","-138","-137","-139","-150","-101","-145","-100","-144","-147","-103","-146","-102","-141","-140","-143","-142","-109","-108","-105","-149","-104","-148","-107","-106","-161","-160","-156","-112","-111","-155","-114","-158","-157","-113","-110","-154","-153","-119","-116","-115","-159","-118","-117","-170","-172","-171","-123","-122","-125","-124","-162","-121","-120","-127","-126","-129","-128"]},"refName":{"title":"Reference Name","type":"string"}}},"shoppingDotComCategory":{"title":"Shopping.com Category","type":"string","description":"Enter the name of the Shopping.com category that this item should go under. This category is included in the product feeds that you can export from Setup &gt; Web Site &gt; Product Feeds. Go to www.shopping.com for more information on the categories available. This is an optional field only available for following item records: Kit/Package, Non-inventory Item for Sale, Non-inventory Item for Resale, Assembly (lot and serialized), and Inventory (lot and serialized).","nullable":true},"shippingCost":{"title":"Shipping Cost","type":"number","description":"As an option, you may enter a shipping cost for this item in dollars. You must also create a shipping item for per-item shipping costs at Lists &gt; Shipping Items &gt; New. When this item is selected on sales orders, invoices or cash sales, the appropriate shipping charges are automatically calculated.","format":"double","nullable":true},"custitemrsc_freight_height":{"title":"Ready Freight Item Height (cm)","type":"number","format":"float","nullable":true,"x-ns-custom-field":true},"custitem_neto_display_w360":{"title":" W360 Website Active","type":"boolean","x-ns-custom-field":true},"createdDate":{"title":"Date Created","type":"string","format":"date-time","nullable":true},"froogleProductFeed":{"title":"Google Base Product Feed","type":"boolean","description":"Check this box to include this item when exporting item lists to Froogle. Clear this box to remove this item when exporting item lists to Froogle."},"maxDonationAmount":{"title":"Maximum Variable Amount","type":"number","description":"If you checked the Variable Amount box, enter the maximum amount that can be paid or donated for this item.","format":"double","nullable":true},"custitem_approved_on_webstore":{"title":"Approved On Webstore","type":"boolean","x-ns-custom-field":true},"custitem_default_item":{"title":"Default Item","type":"boolean","x-ns-custom-field":true},"custitem_incoterm":{"title":"INCOTERM","type":"string","nullable":true,"x-ns-custom-field":true},"enforceminqtyinternally":{"title":"Enforce Minimum Internally","type":"boolean","description":"Check this box to apply the minimum quantity restriction on sales orders generated from NetSuite. When you clear this box, but enter a number in the Minimum Quantity field, the minimum quantity is only applied to web store orders."},"seasonalDemand":{"title":"Seasonal Demand","type":"boolean","description":"Check the Seasonal Demand box to define how NetSuite analyzes customer demand for this item . Customer demand for an item is used to auto-calculate reorder points and preferred stock levels. An item’s demand rate is calculated as the average sales quantity per day. * Historical Demand – Clear the Seasonal Demand box to calculate the demand as average sales per day over a specific period. To set the number of months interval between analysis to evaluate sales orders and calculate item demand, go to Setup &gt; Accounting &gt; Set Up Inventory Management &gt; Order Analysis Interval field. * Seasonal Demand – Check the Seasonal Demand box to calculate the reorder quantity for this item based on inventory demand changes through the year. To set the number of months interval between analysis to evaluate sales orders and calculate item demand, go to Setup &gt; Accounting &gt; Set Up Inventory Management &gt; Order Analysis Interval field."},"custitemrsc_freight_canbebundled":{"title":"Ready Freight Can Be Bundled","type":"boolean","x-ns-custom-field":true},"matrixItemNameTemplateHelp":{"title":"Matrix Item Name Template","type":"string","nullable":true},"displayName":{"title":"Display Name/Code","type":"string","description":"Enter an optional name of up to 250 characters for this item in addition to the Item Name. If you are integrating with a Yahoo! store, this field is imported from Yahoo!. The display name prints in the Item column of sales forms when Basic printing is used. If this item is a member of a kit, this name appears in the Item column when the Print Items box is checked. If you do not enter a display name, the item name appears on printed forms.","nullable":true},"isDropShipItem":{"title":"Drop Ship Item","type":"boolean","description":"Check the Drop Ship Item box to have this item default as a drop ship item on sales orders. When a sales transaction for a drop ship item is approved, a linked purchase order for the preferred vendor is automatically generated. The vendor ships this item to your customer directly. Note: an item can be a drop ship or a special order, but not both."},"custitem_zc_qty_tlrnce_amount":{"title":"Quantity tolerance fixed amount","type":"number","format":"float","nullable":true,"x-ns-custom-field":true},"countryOfManufacture":{"type":"object","properties":{"id":{"title":"Internal identifier","type":"string","enum":["PR","PS","PT","PW","PY","QA","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","RE","AU","AW","AX","AZ","RO","BA","BB","RS","BD","BE","RU","BF","BG","RW","BH","BI","BJ","BL","BM","BN","BO","SA","BQ","SB","BR","SC","BS","SD","BT","SE","BV","SG","BW","SH","SI","BY","SJ","BZ","SK","SL","SM","SN","SO","CA","SR","CC","SS","CD","ST","CF","SV","CG","CH","SX","CI","SY","SZ","CK","CL","CM","CN","CO","CR","TC","CS","TD","CU","TF","CV","TG","CW","TH","CX","CY","TJ","CZ","TK","TL","TM","TN","TO","TR","TT","DE","TV","TW","DJ","TZ","DK","DM","DO","UA","UG","DZ","UM","EA","EC","US","EE","EG","EH","UY","UZ","VA","ER","VC","ES","ET","VE","VG","VI","VN","VU","FI","FJ","FK","FM","FO","FR","WF","GA","GB","WS","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","XK","HK","HM","HN","HR","HT","YE","HU","IC","ID","YT","IE","IL","IM","IN","IO","ZA","IQ","IR","IS","IT","ZM","JE","ZW","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN"]},"refName":{"title":"Reference Name","type":"string"}}},"shoppingProductFeed":{"title":"Shopping Product Feed","type":"boolean","description":"Check this box to include this item when exporting item lists to Shopping.com. Clear this box to remove this item when exporting item lists to Shopping.com."},"externalId":{"title":"External ID","type":"string","nullable":true},"residual":{"title":"Residual","type":"number","format":"double","nullable":true},"searchKeywords":{"title":"Search Keywords","type":"string","description":"Enter alternative search keywords that customers might use to find this item using your Web store’s internal search. These can include synonyms, acronyms, alternate languages or misspellings. These keywords are seen as equally important as the item name when searches are conducted.","nullable":true},"purchaseOrderAmount":{"title":"Vendor Bill - Purchase Order Amount Tolerance","type":"number","description":"Enter the tolerance limit for the discrepancy between the amount on the vendor bill and purchase order.","format":"float","nullable":true},"updateExistingTranAccounts":{"title":"Update Existing Transactions' Accounts ","type":"boolean"},"autoReorderPoint":{"title":"Auto-Calculate Reorder Point","type":"boolean","description":"Reorder Point is the quantity level at which you need to reorder or build more of this item. * Auto-Calculate – Check the Auto-Calculate box to automatically calculate the reorder point based on demand for the item over time. The reorder point depends on the safety stock definition and is calculated as follows: o Without safety stock defined: Reorder point = (average lead time days * demand) o With safety stock defined in days: Reorder point = [(average lead time days + safety stock days) * demand] o With safety stock quantity defined: Reorder point = [(average lead time days * demand) + safety stock quantity) * Manually Calculate – Clear the Auto-Calculate box to manually enter the point at which to reorder or build more of this item. If you go to Home &gt; User Preferences and place a check mark in the Inventory Level Warnings box, NetSuite reminds you when you have reached the reorder point."},"receiptQuantity":{"title":"Vendor Bill - Item Receipt Quantity Tolerance","type":"number","description":"Enter the tolerance limit for the discrepancy between the quantity on the vendor bill and item receipt.","format":"float","nullable":true},"maximumquantity":{"title":"Maximum Order Qty","type":"integer","description":"Enter the greatest quantity of this item that customers can purchase. If customers enter an item quantity above the maximum amount, a warning message is displayed. Web store customers are unable to complete checkout unless they enter a quantity equal to or below the maximum quantity. Leave this field empty to allow customers to check out without maximum quantity restrictions. You can edit this warning at Setup &gt; Site Builder/SuiteCommerce Advanced &gt; Customize Text.","format":"int64","nullable":true},"minimumquantity":{"title":"Minimum Order Qty","type":"integer","description":"Enter the lowest quantity that customers can purchase. Web store customers receive a warning and cannot check out if they enter an item quantity below this minimum. Leave this field empty to allow customers to check out with no minimum quantity restrictions. You can edit this warning at Setup &gt; Site Builder/SuiteCommerce Advanced &gt; Customize Text.","format":"int64","nullable":true},"custitemipc":{"title":"IPC","type":"string","nullable":true,"x-ns-custom-field":true},"custitem_zc_rate_tlrnce_percentage":{"title":"Rate tolerance percentage","type":"number","format":"double","nullable":true,"x-ns-custom-field":true},"salesDescription":{"title":"Sales Description","type":"string","description":"Enter a sales description for this item. You can enter letters and numbers. There is a 999 character limit. The sales description displays on transactions such as sales orders, cash sales and invoices. If you use the Web Store feature, the sales description displays immediately under the item&apos;s store display name on item list pages in your store or site, if you have not entered a store description for an item. Enter the store description on the Store subtab of the item record. The sales description also displays by default when the item is in the Web store shopping cart.","nullable":true},"storeDetailedDescription":{"title":"Detailed Description","type":"string","description":"Enter a detailed description for this item. When your customers click an item&apos;s store display name for more information, they see this description. If you are using Internet Explorer, you can also clear the View Source box below to enter and format text using the formatting options above. This eliminates the need for HTML code. If you do not see the View Source box, make sure Rich Text Editing is enabled. If you see the Enhance text button next to this field, you can get writing help for this field from our generative AI service, NetSuite Text Enhance. Click the Enhance Text button to use the available options. Learn more about Text Enhance.","nullable":true},"custitemrsc_freight_dglq":{"title":"Ready Freight DGLQ","type":"boolean","x-ns-custom-field":true},"weight":{"title":"Item Weight ","type":"number","description":"Enter the weight of this item and select the units in the dropdown.","format":"float","nullable":true},"custitemdescription":{"title":"Description","type":"string","nullable":true,"x-ns-custom-field":true},"custitem7":{"title":"POA","type":"boolean","x-ns-custom-field":true},"custitem2":{"title":"Annual Usage","type":"number","format":"double","nullable":true,"x-ns-custom-field":true},"purchaseOrderQuantityDiff":{"title":"Vendor Bill - Purchase Order Quantity Difference","type":"number","description":"Enter the difference limit for the discrepancy between the quantity on the vendor bill and purchase order.","format":"float","nullable":true},"useMarginalRates":{"title":"Use Marginal Rates","type":"boolean","description":"Check this box if you want the quantity discounts in the schedule to be applied to each pricing bracket separately. For example, a schedule offers no discount for the first 100 items sold and a 5% discount if more than 100 are sold. If 150 items are sold, the first 100 are at normal price, and the other fifty items are sold at 5% discount. Leave this box clear if you want the discount to apply to all of the items sold."},"vendorName":{"title":"Vendor Name/Code","type":"string","description":"If your vendor uses a name for this item that is different from the name you use, you can enter up to 60 characters as the vendor&apos;s name for this item here. The vendor&apos;s name for this item prints in the Item column of purchase forms. If you do not enter a vendor name, the item name prints in the Item column of purchase forms. If you have entered a display name, it will print on purchases instead of the item name.","nullable":true},"custitemrsc_freight_width":{"title":"Ready Freight Item Width (cm)","type":"number","format":"float","nullable":true,"x-ns-custom-field":true},"custitem_zc_rate_tlrnce_amount":{"title":"Rate tolerance fixed amount","type":"number","format":"double","nullable":true,"x-ns-custom-field":true},"description":{"title":"Description","type":"string","description":"Enter a description for this item. This description will appear in the Description column of sales forms.","nullable":true},"weightUnit":{"type":"object","properties":{"id":{"title":"Internal identifier","type":"string","enum":["1","2","3","4"]},"refName":{"title":"Reference Name","type":"string"}}},"matrixItemNameTemplate":{"title":"Matrix Item Name Template","type":"string","description":"This field is used to control how the matrix item will be displayed in the Matrix Item Name/Number field. Compose the order in which attributes and matrix options are displayed by selecting from the Insert Item Attribute and Insert Matrix Option dropdown lists. Add custom separator characters to easier distinguish the various options. Example: Item Name: Fabric / Color / Waist / Length [Location]","nullable":true},"itemId":{"title":"Item Name/Number","type":"string","description":"Enter up to 250 characters for the name of this item. This name appears in lists on transactions. If you have the option of entering a display name and do not, the item name prints in the Item column of sales forms when Basic printing is used. If you have the option to enter a vendor name and do not, the item name prints in the Item column of purchase forms. If you have entered a display name, it will print on purchases instead of the item name when Basic printing is used.","nullable":true},"offerSupport":{"title":"Offer Support","type":"boolean","description":"Check this box to offer support for this particular item. By offering support for items, customers can select on case records which item they are having trouble with."},"custitem_production_year":{"title":"Production Year","type":"string","nullable":true,"x-ns-custom-field":true},"transferPrice":{"title":"Transfer Price","type":"number","description":"Enter a transfer price on an item record to set the default value used as the transfer price on transfer orders. You can still override this default by entering a new transfer price for an item on the transfer order. The use of the value in the Transfer Price field on a transfer order depends on your setting for the Use Item Cost as Transfer Cost preference. When the Use Item Cost as Transfer Cost preference is enabled, the transfer price on a transfer order is not considered for posting cost accounting of line items. In the Transfer Price field, enter a declared value for the item to be used for shipping purposes only. When the Use Item Cost as Transfer Cost preference is disabled, the transfer price on a transfer order is considered for posting cost accounting of line items. Items that do not have a transfer price set on a transfer order use a zero value for cost accounting calculations when the item is received. Note: If the Transfer Price field is blank on the item record, a value of zero shows by default on the transfer order. Unless a transfer price value is entered on the transfer order, a value of zero is used for COGS calculations when the item is received.","format":"double","nullable":true},"custitemrsc_freight_scanqtylimit":{"title":"Ready Freight Barcode Scan Quantity Limit","type":"integer","format":"int64","nullable":true,"x-ns-custom-field":true},"trackLandedCost":{"title":"Track Landed Cost","type":"boolean","description":"Check this box to track landed costs associated with this item. Note: You must include an item that tracks landed costs on transactions you want to source for landed costs. For example, on the Landed Costs subtab of item receipts, a vendor bill shows in the source transaction list only if the bill includes a landed cost item."},"excludeFromSiteMap":{"title":"Exclude from Sitemap","type":"boolean","description":"Check this box to exclude a tab, category or item page from the site map."},"custitem_preferred_vendor":{"title":"Preferred vendor","type":"boolean","x-ns-custom-field":true},"amortizationPeriod":{"title":"Amortization Period","type":"integer","format":"int64","nullable":true},"yahooProductFeed":{"title":"Yahoo Shopping Product Feed","type":"boolean"},"upcCode":{"title":"UPC Code","type":"string","description":"Enter a maximum of 999 characters in this field to identify an internal name or number to store the item&apos;s UPC Code. You can use the text you enter here when adding the item to transactions, searching, or viewing reports. * When you enter text in this field, the SKU/UPC field on item labels displays this UPC Code and prints in UPC bar code format. * When this field is clear, the SKU/UPC field on item labels displays the Item Name/Number and prints in Code-128 bar code format.","nullable":true},"custitemrsc_freight_dg_netweightvolume":{"title":"Ready Freight DG Net Weight / Volume per Unit","type":"number","format":"float","nullable":true,"x-ns-custom-field":true},"siteMapPriority":{"type":"object","properties":{"id":{"title":"Internal identifier","type":"string","enum":["","0.0","0.1","0.2","0.3","0.4","0.5","0.6","0.7","0.8","0.9","1.0"]},"refName":{"title":"Reference Name","type":"string"}}},"itemType":{"type":"object","properties":{"id":{"title":"Internal identifier","type":"string","enum":["Group","InvtPart","Payment","Description","Discount","NonInvtPart","Kit","Subtotal","Markup","Service","OthCharge"]},"refName":{"title":"Reference Name","type":"string"}}},"custitem_qty_per_40hc":{"title":"QTY per 40HC","type":"integer","format":"int64","nullable":true,"x-ns-custom-field":true},"custitem_eu_label":{"title":"EU Label","type":"boolean","x-ns-custom-field":true},"scheduleBNumber":{"title":"Schedule B Number","type":"string","description":"Enter the number for the Schedule B form for this item.","nullable":true},"custitemrsc_freight_length":{"title":"Ready Freight Item Length (cm)","type":"number","format":"float","nullable":true,"x-ns-custom-field":true},"availableToPartners":{"title":"Available to Adv. Partners","type":"boolean","description":"Check this box to make this item available to partners with the Advanced Partner Center role for viewing. These items are also available to partners with roles that are customized for the Advanced Partner Center and include view, create or edit access to item records."},"fraudRisk":{"type":"object","properties":{"id":{"title":"Internal identifier","type":"string","enum":["LOW","MEDIUM","HIGH"]},"refName":{"title":"Reference Name","type":"string"}}},"overallQuantityPricingType":{"type":"object","properties":{"id":{"title":"Internal identifier","type":"string","enum":["ITEM","PARENT","SCHEDULE"]},"refName":{"title":"Reference Name","type":"string"}}},"custitem_neto_display_eaglexp":{"title":"EagleXP Website Active","type":"boolean","x-ns-custom-field":true},"stockDescription":{"title":"Stock Description","type":"string","description":"Enter up to 21 characters to specify information about this item, such as New, Refurbished or Ships 2-3 days.","nullable":true},"id":{"title":"Internal ID","type":"string","description":"Returns the internal ID for the item.","nullable":true},"demandModifier":{"title":"Estimated Demand Change","type":"number","description":"Enter the default percentage of Expected Demand Change to use for calculating item demand. For example, if you know that new customers will increase sales of this item in the future, you can enter a 10% expected demand change to be added on to previous sales totals. If no expected demand change percentage is entered, then the default value from the Set Up Inventory Management page is used.","format":"double","nullable":true},"mpn":{"title":"Manufacturer Part Number","type":"string","description":"MPN (Manufacturers Part Number) - Enter the part number used by the manufacturer to identify this item.","nullable":true},"custitem_zc_amt_tlrnce_amount":{"title":"Amount tolerance fixed amount","type":"number","format":"float","nullable":true,"x-ns-custom-field":true},"originalItemSubtype":{"title":"Original Item Subtype","type":"string","nullable":true},"custitem_zc_3wm_rate_retain_data":{"title":"Retain captured data if difference is outside of rate threshold","type":"boolean","x-ns-custom-field":true},"isDonationItem":{"title":"Variable Amount","type":"boolean","description":"Check this box to set this item as variable-priced. This enables customers to enter their own prices for this item, such as for donations."},"featuredDescription":{"title":"Featured Description","type":"string","description":"If this item is displayed on the home page of your Web site, enter a featured description for this item. This description appears below the item&apos;s store display name on the Home page of your store or site. You can enter up to 999 characters including basic HTML code. Enter and format text using the formatting options, or click the HTML Source Code link to enter HTML. If you see the Enhance text button next to this field, you can get writing help for this field from our generative AI service, NetSuite Text Enhance. Click the Enhance Text button to use the available options. Learn more about Text Enhance.","nullable":true},"safetyStockLevel":{"title":"Safety Stock Level","type":"number","description":"Enter the amount of an item you prefer to keep in stock at all times. Safety stock can be a quantity or a number of days worth of stock. This amount is used to auto-calculate the reorder point of an item. * To define safety stock as a quantity, enter a value. * To define safety stock as a number of days, enter a value in the field next to Days. If no safety stock value is entered, then the default value from the Set Up Inventory Management page is used.","format":"float","nullable":true},"nexTagProductFeed":{"title":"NexTag Product Feed","type":"boolean","description":"Check this box to include this item when exporting item lists to NexTag. Clear this box to remove this item when exporting item lists to NexTag."},"leadTime":{"title":"Purchase Lead Time","type":"integer","description":"Lead time is the average number of days between ordering this item from the vendor and receiving it. * Auto-Calculating – Check the Auto-Calculate box if you want NetSuite to calculate the lead time based on the most recent order history of this item. Lead time is calculated by taking the number of days between the order entry and receipt on the three most recent purchase orders, and dividing by three. If more than three purchase orders exist, all purchase orders within the period specified in the Order Analysis Interval field on the Inventory Management Preferences dialog will be used. o If there are multiple receipts for the item against the same purchase order, the calculation is made using the difference between the purchase order and the last receipt (the receipt that fully receives the order). o Lead time calculation is not weighted by number of units received. o More recent purchase orders without receipts are ignored. * Manually Calculating – Clear the Auto-Calculate box to manually enter a lead time value in days. If the Auto-Calculate box is cleared and no value is entered, then the default value from the Set Up Inventory Management page is used.","format":"int64","nullable":true},"relatedItemsDescription":{"title":"Related Items Description","type":"string","description":"Enter a description for the related items you show with this item in your Web site. You can enter up to 999 characters of letters, numbers and basic HTML code. You can also clear the View as HTML box below to enter and format text using the formatting options above. This eliminates the need for HTML code.","nullable":true},"shopzillaCategoryId":{"title":"Shopzilla Category ID","type":"integer","description":"Enter the name of the Shopzilla category this item should be included in. This category is included in the product feeds you export at Setup &gt; Web Site &gt; Product Feeds. Go to www.shopzilla.com for more information on the available categories. This is an optional field only displayed for the following item records: Kit/Package, Non-inventory Item for Sale, Non-inventory Item for Resale, Assembly (lot and serialized), and Inventory (lot and serialized).","format":"int64","nullable":true},"isSerialItem":{"title":"Serialized","type":"boolean"},"custitemean":{"title":"EAN","type":"string","nullable":true,"x-ns-custom-field":true},"supplyReplenishmentMethod":{"type":"object","properties":{"id":{"title":"Internal identifier","type":"string","enum":["TIME_PHASED","MPS","REORDER_POINT","MRP"]},"refName":{"title":"Reference Name","type":"string"}}},"manufacturer":{"title":"Manufacturer","type":"string","description":"Enter the name of the company that manufactures this item.","nullable":true},"custitem_market_price":{"title":"Market price","type":"string","nullable":true,"x-ns-custom-field":true},"custitem_e_mark":{"title":"E Mark","type":"boolean","x-ns-custom-field":true},"showDefaultDonationAmount":{"title":"Show Default Amount","type":"boolean","description":"Check this box to suggest the item&apos;s online price for the item. When customers navigate to a donation item, they first see the online price for the item and then can choose to enter any amount they like."},"custitem_zc_amt_tlrnce_percentage":{"title":"Amount tolerance percentage","type":"number","format":"double","nullable":true,"x-ns-custom-field":true},"shipIndividually":{"title":"Ships Individually","type":"boolean","description":"Check this box if this item always ships alone and with no other items in the same package. This helps determine the number of packages needed and the shipping rate on order fulfillments."},"safetyStockLevelDays":{"title":"Safety Stock Level Days","type":"integer","description":"Enter the amount of an item you prefer to keep in stock at all times. Safety stock can be a quantity or a number of days worth of stock. This amount is used to auto-calculate the reorder point of an item. * To define safety stock as a quantity, enter a value. * To define safety stock as a number of days, enter a value in the field next to Days. If no safety stock value is entered, then the default value from the Set Up Inventory Management page is used.","format":"int64","nullable":true},"custitem_zc_3wm_qty_retain_data":{"title":"Retain captured data if difference is outside of quantity threshold","type":"boolean","x-ns-custom-field":true},"custitem_pattern":{"title":"Pattern","type":"string","nullable":true,"x-ns-custom-field":true},"custitem_ply_":{"title":"Ply","type":"string","nullable":true,"x-ns-custom-field":true},"custitem_dot_mark":{"title":"Dot Mark","type":"boolean","x-ns-custom-field":true},"custitem_made_in_country":{"type":"object","properties":{"id":{"title":"Internal identifier","type":"string","enum":["PR","PS","PT","PW","PY","QA","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","RE","AU","AW","AX","AZ","RO","BA","BB","RS","BD","BE","RU","BF","BG","RW","BH","BI","BJ","BL","BM","BN","BO","SA","BQ","SB","BR","SC","BS","SD","BT","SE","BV","SG","BW","SH","SI","BY","SJ","BZ","SK","SL","SM","SN","SO","CA","SR","CC","SS","CD","ST","CF","SV","CG","CH","SX","CI","SY","SZ","CK","CL","CM","CN","CO","CR","TC","CS","TD","CU","TF","CV","TG","CW","TH","CX","CY","TJ","CZ","TK","TL","TM","TN","TO","TR","TT","DE","TV","TW","DJ","TZ","DK","DM","DO","UA","UG","DZ","UM","EA","EC","US","EE","EG","EH","UY","UZ","VA","ER","VC","ES","ET","VE","VG","VI","VN","VU","FI","FJ","FK","FM","FO","FR","WF","GA","GB","WS","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","XK","HK","HM","HN","HR","HT","YE","HU","IC","ID","YT","IE","IL","IM","IN","IO","ZA","IQ","IR","IS","IT","ZM","JE","ZW","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN"]},"refName":{"title":"Reference Name","type":"string"}}},"isOnline":{"title":"Display in Website","type":"boolean","description":"Check this box to make this item available online in your Web site. You cannot sell this item online unless you check this box. If the item is of the Other Charge for Sale or Resale subtype, checking this box does not make it available in the web store catalog. However, it becomes available during web store checkout."},"dateConvertedToInv":{"title":"Date Converted To Inv.","type":"string","format":"date-time","nullable":true},"custitem_speed_ratio":{"title":"Speed ratio","type":"string","nullable":true,"x-ns-custom-field":true},"custitem_load_index":{"title":"Load Index","type":"string","nullable":true,"x-ns-custom-field":true},"totalValue":{"title":"Total Value","type":"number","description":"Enter or accept the total value of this item. NetSuite generates this amount by multiplying your purchase price and your quantity on hand. As you buy and sell additional inventory, NetSuite continues to calculate the total value.","format":"double","nullable":true},"custitem_in_neto":{"title":"Already in Neto","type":"boolean","x-ns-custom-field":true},"includeChildren":{"title":"Include Children","type":"boolean","description":"Check the Include Children box to share the item with all the sub-subsidiaries associated with each subsidiary selected in the Subsidiary field. Note: When sharing items across subsidiaries, all of the options selected on the item record must be compatible across subsidiaries. For example, when entering an inventory item to be shared across subsidiaries, you should select Income and Asset accounts on the item record that are also shared across the same subsidiaries."},"internalId":{"title":"Internal ID","type":"integer","description":"Use this ID number to create smart tags for your item templates, site templates, and custom Web site that you host with NetSuite. Smart tags use the following format:","format":"int64","nullable":true},"custitemrsc_freight_img_thumbnail":{"title":"Ready Freight Image Thumbnail","type":"string","nullable":true,"x-ns-custom-field":true},"custitemcomments":{"title":"Comments","type":"string","nullable":true,"x-ns-custom-field":true},"storeDescription":{"title":"Store Description","type":"string","description":"The store description appears under the item&apos;s store display name on item list pages in your store or site. To make the store description displays when an item is in the Web store shopping cart, go to Setup &apos;&gt;&apos; Web Site &apos;&gt;&apos; Set Up Web Site. Click the Cart subtab, and check the box next to Store Description. If you see the Enhance text button next to this field, you can get writing help for this field from our generative AI service, NetSuite Text Enhance. Click the Enhance Text button to use the available options. Learn more about Text Enhance.","nullable":true},"matrixType":{"type":"object","properties":{"id":{"title":"Internal identifier","type":"string","enum":["","PARENT","CHILD"]},"refName":{"title":"Reference Name","type":"string"}}},"matchBillToReceipt":{"title":"Match Bill To Receipt","type":"boolean","description":"Check the Match Bill to Receipt box if you want the Match Bill to Receipt box on transaction lines to be checked by default for this item. This enables you to generate variances based on vendor bill lines. Then, on the Post Vendor Bill Variances page, you must select Bill in the Transaction Type field to generate the variance postings. Purchase orders that include this item default to have this box checked and variances are generated based on vendor bill lines. Clear this box if you want to generate variance postings based on purchase order lines rather than vendor bill lines and do not want the Match Bill to Receipt box to be checked by default on transaction lines for this item. Then, on the Post Vendor Bill Variances page, you must select Purchase Order in the Transaction Type field to generate the variance postings. This preference defaults to be disabled. Even when enabled, this option can be changed on individual purchase order lines."},"isInactive":{"title":"Inactive","type":"boolean","description":"When you check this box, this item will no longer appear on a list unless you check the Show All box at the bottom of the list page."},"purchaseDescription":{"title":"Purchase Description","type":"string","description":"Enter up to 999 characters of text for a description of this item to appear on vendor orders. Include the unit of measure in this description. If you see the Enhance text button next to this field, you can get writing help for this field from our generative AI service, NetSuite Text Enhance. Click the Enhance Text button to use the available options. Learn more about Text Enhance.","nullable":true},"metaTagHtml":{"title":"Meta Tag HTML","type":"string","description":"Enter the Meta Tag HTML you want to appear in the &lt; head &gt; section of this item page. Meta tags enable your Web site to be found by search engines.","nullable":true},"dontShowPrice":{"title":"Don't Show Price","type":"boolean","description":"Check this box to hide the price of this item online. This is useful for items you want to advertise but don&apos;t want to sell or for items that you track inventory for and want to display but are offered in combination with other items."},"custitem_zc_qty_tlrnce_percentage":{"title":"Quantity tolerance percentage","type":"number","format":"double","nullable":true,"x-ns-custom-field":true},"atpMethod":{"type":"object","properties":{"id":{"title":"Internal identifier","type":"string","enum":["CUMULATIVE_ATP_WITH_LOOK_AHEAD","DISCRETE_ATP"]},"refName":{"title":"Reference Name","type":"string"}}},"purchaseOrderQuantity":{"title":"Vendor Bill - Purchase Order Quantity Tolerance","type":"number","description":"Enter the tolerance limit for the discrepancy between the quantity on the vendor bill and purchase order.","format":"float","nullable":true},"noPriceMessage":{"title":"No Price Message","type":"string","description":"If you opted to not show a price online, enter the message that should show instead of the price. For example, you might enter &quot;Call for Price.&quot;","nullable":true},"pricesIncludeTax":{"title":"Prices Include Tax","type":"boolean","description":"Check this box to save the base price as the tax inclusive price. Clear this box to save the base price as the tax exclusive price."},"preferredStockLevelDays":{"title":"Days","type":"number","description":"The preferred stock level is the optimum quantity to maintain in stock of an item. The quantity you enter here is used to determine your replenishment needs on the Order Items page. It is the quantity you want to have in stock after an order is placed. * Auto-Calculating – Check the Auto-Calculate box if you want NetSuite to calculate the preferred stock level based on demand for the item. The preferred stock level is calculated as: (daily demand * number of days supply preferred). If no preferred stock level is identified, then the default preferred stock level is used from the Set Up Inventory Management page. * Manually Calculating – Clear the Auto-Calculate box to manually enter the preferred stock quantity. The preferred stock level you set is used to calculate the quantity of items to be ordered on the Order Items page.","format":"float","nullable":true},"copyDescription":{"title":"Copy from Sales Order","type":"boolean","description":"Check this box to copy the purchase description from the item description you enter on a sales order. Clear this box to enter a purchase description in the field above."},"cost":{"title":"Purchase Price","type":"number","description":"Enter the price you pay for this item. If you do not enter a price, purchase orders for this item show the most recent purchase price by default. If you select a preferred vendor for this item, the price is shown in the currency selected on the vendor&apos;s record. If no preferred vendor is selected, the price is shown in your base currency.","format":"double","nullable":true},"lastModifiedDate":{"title":"Last Modified","type":"string","format":"date-time","nullable":true},"autoPreferredStockLevel":{"title":"Auto-Calculate Preferred Stock Level","type":"boolean","description":"The preferred stock level is the optimum quantity to maintain in stock of an item. The quantity you enter here is used to determine your replenishment needs on the Order Items page. It is the quantity you want to have in stock after an order is placed. * Auto-Calculating – Check the Auto-Calculate box if you want NetSuite to calculate the preferred stock level based on demand for the item. The preferred stock level is calculated as: (daily demand * number of days supply preferred). If no preferred stock level is identified, then the default preferred stock level is used from the Set Up Inventory Management page. * Manually Calculating – Clear the Auto-Calculate box to manually enter the preferred stock quantity. The preferred stock level you set is used to calculate the quantity of items to be ordered on the Order Items page."},"costingMethod":{"type":"object","properties":{"id":{"title":"Internal identifier","type":"string","enum":["SERIAL","LOT","AVG","LIFO","GROUPAVG","FIFO","STANDARD"]},"refName":{"title":"Reference Name","type":"string"}}},"reorderMultiple":{"title":"Reorder Multiple","type":"integer","description":"Enter the quantity you prefer to order of this item each time. Then, the Order Items page suggests ordering a quantity of this item that is always multiple of the number you enter. For example, if the vendor only accepts orders in multiples of one thousand, you would enter 1000 in this field. Then, the Order items page might suggest that you order 1000 or 2000, but not 1500. Note: If you use the Multiple Units of Measure feature, the reorder multiple always functions in base units.","format":"int64","nullable":true},"isGCoCompliant":{"title":"Google Checkout Compliant","type":"boolean"},"receiptAmount":{"title":"Vendor Bill - Item Receipt Amount Tolerance","type":"number","description":"Enter the tolerance limit for the discrepancy between the amount on the vendor bill and item receipt.","format":"float","nullable":true},"averageCost":{"title":"Average Cost","type":"number","description":"This field displays the current average cost of the item across all locations. Using the weighted-average method, the average cost is calculated as the total units available during a period divided by the beginning inventory cost plus the cost of additions to inventory. Note: The average cost calculated per location is listed for each location on the Locations subtab. If you use Multiple Units of Measure, average cost is calculated using stock units.","format":"double","nullable":true},"custitemrft":{"title":"RFT","type":"boolean","x-ns-custom-field":true},"insertItemAttribute":{"type":"object","properties":{"id":{"title":"Internal identifier","type":"string","enum":["class","department","location","itemid","issueproduct","vendorname"]},"refName":{"title":"Reference Name","type":"string"}}},"costEstimate":{"title":"Item Defined Cost","type":"number","description":"Enter an Item Defined Cost amount.","format":"double","nullable":true},"isSpecialOrderItem":{"title":"Special Order Item","type":"boolean","description":"Check this box if you want this item to default as a special order on sales transactions. When a sales transaction for a special order item is approved, a linked purchase order is automatically generated. Then, the order cannot be fulfilled until the linked purchase order is received. Special order items can be used for custom orders or &quot;just-in-time&quot; inventory. Important: You must identify a preferred vendor and a purchase price on an item record in order for that item to be selected as a special order. Note: An item can be a drop ship or a special order, but not both."},"custitem_target_price":{"title":"Target price","type":"string","nullable":true,"x-ns-custom-field":true},"refName":{"title":"Reference Name","type":"string"},"links":{"title":"Links","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/nsLink"}},"siteCategory":{"$ref":"#/components/schemas/inventoryItem-siteCategoryCollection"},"matrixoptioncustitem_colour_size":{"$ref":"#/components/schemas/nsResource"},"location":{"$ref":"#/components/schemas/nsResource"},"custitem_length":{"$ref":"#/components/schemas/nsResourceCollection"},"custitem_zc_prevailing_quantity":{"$ref":"#/components/schemas/nsResource"},"pricingGroup":{"$ref":"#/components/schemas/nsResource"},"custitem_zc_3wm_tlrnce_type_rate":{"$ref":"#/components/schemas/nsResource"},"storeDisplayImage":{"$ref":"#/components/schemas/nsResource"},"custitem4":{"$ref":"#/components/schemas/nsResourceCollection"},"custitem5":{"$ref":"#/components/schemas/nsResourceCollection"},"custitem_colour_size":{"$ref":"#/components/schemas/nsResourceCollection"},"custitem6":{"$ref":"#/components/schemas/nsResourceCollection"},"matrixoptioncustitem_gate_valve_handle_size":{"$ref":"#/components/schemas/nsResource"},"assetAccount":{"$ref":"#/components/schemas/nsResource"},"custitem_webbing_colour":{"$ref":"#/components/schemas/nsResourceCollection"},"preferredLocation":{"$ref":"#/components/schemas/nsResource"},"custitemmachinery_brand":{"$ref":"#/components/schemas/nsResource"},"custitem_sleeve_colour":{"$ref":"#/components/schemas/nsResourceCollection"},"custitem_thickness":{"$ref":"#/components/schemas/nsResourceCollection"},"quantityPricingSchedule":{"$ref":"#/components/schemas/nsResource"},"shipPackage":{"$ref":"#/components/schemas/nsResource"},"custitemrsc_freight_restrictedpkgtypes":{"$ref":"#/components/schemas/nsResourceCollection"},"incomeAccount":{"$ref":"#/components/schemas/nsResource"},"custitemrsc_freight_dg_class":{"$ref":"#/components/schemas/nsResource"},"custitem_capacity":{"$ref":"#/components/schemas/nsResourceCollection"},"matrixoptioncustitem_spiral_clamp_lh":{"$ref":"#/components/schemas/nsResource"},"custitem_lens_colour":{"$ref":"#/components/schemas/nsResourceCollection"},"custitemproduct_group":{"$ref":"#/components/schemas/nsResource"},"matrixoptioncustitem_size_matrix":{"$ref":"#/components/schemas/nsResource"},"custitem_input_drive_female":{"$ref":"#/components/schemas/nsResourceCollection"},"custitemrsc_freight_rateclass":{"$ref":"#/components/schemas/nsResource"},"subsidiary":{"$ref":"#/components/schemas/nsResourceCollection"},"ma
[...]
